* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#app {
	color: #ffffff;
}

</* opentype */>
@font-face {
  font-family: 'G';
  src: url('@/assets/font/Gilroy-Regular.otf') format('otf'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F';
  src: url('@/assets/font/Futura-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'A';
  src: url('@/assets/font/AlimamaShuHeiTi-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


/** animated  **/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.team_box {
  opacity: 0;
}
/** animated  **/